{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internal Server Error 500</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Oh! It seems that there are some internal issues with the server.</h1>
        <p><a href="{% url 'home' %}" aria-label="Go to homepage">Go back to the homepage</a></p>
        <p>If you have an urgent topic feel free to get in touch with us via <strong>contact@teamcraft.com</strong></p>
    </div>
</body>
</html>