{% extends 'base.html' %} 
{% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">About</h1>
                <p>We just want to play...</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                 <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder"> -->
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-12 mt-3 left">
        <div class="row">
            <p>content about...</p>
        </div>
    </div>
</div>


{% endblock content %}

{% block comment_btn %}

{% endblock %}