{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Section Masthead -->
<section class="masthead">
  <div class="container">
    <div class="row g-0">
      <div class="col-md-6 masthead-text">
        <h1 class="method-title"> Create your methode here</h1>
      </div>
      <div class="d-none d-md-block col-md-6 masthead-image">
        <img src="{% static 'images/default.jpg' %}" class="scale" alt="Placeholder image for method creation">
      </div>
    </div>
  </div>
</section>

<!-- Section Method Creation Form -->
<section>
  <div class="container">
    <div class="row">
      <article class="col-md-8 card mb-4 mt-3">
        <div class="card-body w-100">
          {% if user.is_authenticated %}
          <h2>Add here a new method:</h2>
          <p class="text-muted">Posting as: {{ user.username }}</p>
          <form id="methodForm" method="post" enctype="multipart/form-data" style="margin-top: 1.3em;">
            {{ method_form | crispy }}
            {% csrf_token %}

            <!-- Submit button -->
            <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>

            <!-- Reset button -->
            <button type="button" class="btn btn-secondary" onclick="resetForm()">Reset</button>

            <!-- Remove image button -->
            <button type="button" class="btn btn-secondary" onclick="removeImageForm()">Remove image</button>
          </form>
          {% else %}
          <p>Log in to create a method</p>
          {% endif %}
        </div>
      </article>
    </div>
  </div>
</section>

<script src="{% static 'js/buttons_method_form.js' %}"></script>

{% endblock content %}

{% block comment_btn %}

{% endblock %}