{% extends 'base.html' %} 
{% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title"> Hello {{ user.username }}, find here your content:</h1>
                <p>You created x methods</p>
                <p>You created x comments</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                 <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder"> -->
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
      <!-- Creating New Method-->
      <div class="col-md-4 card mb-4 mt-3">
        <div class="card-body">
          {% if user.is_authenticated %}
          <h3>Your Methods</h3>
          <p></p>
        </div>
      </div>
    </div>
</div>

<div class="container"></div>
    <div class="row">
      <!-- Creating New Method-->
      <div class="col-md-4 card mb-4 mt-3">
        <div class="card-body">
          {% if user.is_authenticated %}
          <h3>Your Comments</h3>
          <p></p>
        </div>
      </div>
    </div>
</div>

{% endblock content %}

{% block comment_btn %}

{% endblock %}