{% extends 'base.html' %} 
{% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title"> Hello {{ user.username }}, find here your content you shared with the community</h1>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                 <img src="{% static 'images/default.jpg' %}" class="img-fluid" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row pb-5">
        <div class="col-md-12 card mb-4 mt-3 left">
            <h4 class="card-text">
                You created {{ method_list.count }} methods
            </h4>
            <!-- Button to toggle methods accordion -->
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#methodsAccordion" aria-expanded="false" aria-controls="methodsAccordion">
                see methods details
            </button>

            <!-- Accordion content for methods -->
            <div id="methodsAccordion" class="collapse mt-3">    
                {% for method in method_list %}
                    <div class="accordion-item">
                        <h5 class="card-header" id="heading{{ forloop.counter }}">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                                {% if method.status == 1 %}
                                <!-- Display link if the method is approved (published) -->
                                    <p>{{ method.title }} </p><p class="text-muted"> | {{ method.created_on}}</p>
                                {% else %}
                                    <!-- Show message if the method is not approved -->
                                    <p>{{ method.title }} (Pending Approval)</p>
                                {% endif %}
                            </button>
                        </h5> 
                        
                        <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#methodsAccordion">
                            <div class="accordion-body">
                                {% if method.status == 1 %}
                                <!-- Display link if the method is approved -->
                                <p><a href="{% url 'method_page' method.slug %}" class="post-link">
                                    {{ method.summary }} | click here to visit this method</a></p>
                                {% else %}
                                    <p class="text-muted h6">This method is awaiting approval.</p>
                                {% endif %} 
                            </div>
                        </div>
                    </div>
                {% empty %}
                <!-- This is displayed if method_list is empty -->
                <p>No methods found.</p>
                {% endfor %}
            </div>    
        </div>

        <div class="col-md-8 card mb-4 mt-3 left">
            <h4 class="card-text">
                You created {{ comment_list.count }} comments
            </h4>
            <!-- Button to toggle methods accordion -->
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#commentAccordion" aria-expanded="false" aria-controls="commentAccordion">
                see comments details
            </button>

            <!-- Accordion content for comment -->
            <div id="commentAccordion" class="collapse mt-3">    
                {% for comment in comment_list %}
                    <div class="accordion-body">
                        {% if comment.status == 1 %}
                        <!-- Display link if the comment is approved (published) -->
                        <p class="card-text">Created on: {{ comment.created_on }} | Posted on {{ comment.method.title }}</p>
                        <p>{{ comment.body }}</p>
                        {% else %}
                            <!-- Show message if comment is not approved -->
                            <p class="card-text text-muted"> (Pending Approval) Created on: {{ comment.created_on }} | Posted on {{ comment.method.title }}</p>
                            <p class="border-bottom">{{ comment.body }}</p> 
                        {% endif %}
                    </div>
                {% empty %}
                <!-- This is displayed if comment_list is empty -->
                <p>No comments found.</p>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-4 card mb-4 mt-3 left">
            <h4 class="card-text">
                You liked {{ liked_methods.count }} methods
            </h4>
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLikedMethods" aria-expanded="false" aria-controls="collapseLikedMethods">
                see methods you liked
            </button>
            
            <!-- Accordion for Liked methods -->
            <div id="collapseLikedMethods" class="accordion-collapse collapse show" aria-labelledby="headingLikedMethods" data-bs-parent="#likedMethodsAccordion">
                <div class="accordion-body">
                    {% if liked_methods %}
                        {% for method in liked_methods %}
                        <p class="border-bottom"><a href="{% url 'method_page' method.slug %}">{{ method.title }}</a> | {{ method.author }}</p>
                        {% endfor %}
                    {% else %}
                        You haven't liked any methods yet.
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="row">
     Blog Entries Column
    <div class="col-12 mt-3 left">
        <div class="row">
            {% for method in method_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash">
                                    <p class="author">Author: {{ method.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'method_page' method.slug %}" class="post-link">
                                <h2 class="card-title">{{ method.title }}</h2>
                                <strong>Total Likes:</strong> {{ method.like_set.count }}
                            </a>
                            <p class="card-text text-muted h6">{{ method.created_on}}
                            </p>
                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:3 %}
                {% endif %}
            {% empty %}
                <div class="col-12">
                    <p>No methods found.</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
 -->
<!--
<div class="row">
     Blog Entries Column
    <div class="col-12 mt-3 left">
        <div class="row">
            {% for comment in comment_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">

                                    <p class="created_on">Created on: {{ comment.created_on }}</p>
                                </div>
                                <div class="image-flash">
                                    <p class="body">Content: {{ comment.body }}</p>
                                    <p class="body">{{ comment.method.title }}</p>

                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:3 %}
                {% endif %}
            {% empty %}
                <div class="col-12">
                    <p>No comments found.</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

-->

{% endblock content %}

{% block comment_btn %}

{% endblock %}